<html ng-app="pedidosApp">
	<head>
		<meta charset="UTF-8">
		<title>Lanchonete</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<style>
			.valueLabel {
				font-weight: bold;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_pt-br.js"></script>
		<script>
			var app = angular.module('pedidosApp', []);

			app.factory("api", function($http) {
				var endpoint = "https://devweb.nexxera.com/pedidosweb";
				var _getCardapio = function() {
					return $http.get(endpoint + '/cardapio');
				};
				var _getPedidos = function() {
					return $http.get(endpoint + '/pedidos');
				};
				var _adicionarPedido = function(pedido) {
					return $http.post(endpoint + '/pedidos', pedido);
				};

				return {
					getCardapio : _getCardapio,
					getPedidos : _getPedidos,
					adicionarPedido : _adicionarPedido
				};
			});
			app.controller('pedidosCtrl', function($scope, $http, api) {

				$scope.cardapio = [];
				$scope.pedidos = [];
				var carregarCardapio = function() {
					api.getCardapio().success(function(data) {
						$scope.cardapio = data;
					});
				};
				carregarCardapio();
				var carregarPedidos = function() {
					api.getPedidos().success(function(data) {
						$scope.pedidos = data;
						$scope.atualizarValorPedido();
					});
				};
				carregarPedidos();
				$scope.ordenarCardapio = function(descricaoDoCampo) {
					$scope.campoOrdemCardapio = descricaoDoCampo;
					$scope.direcaoOrdemCardapio = !$scope.direcaoOrdemCardapio;
				};
				$scope.adicionarPedido = function(pedido) {
					api.adicionarPedido(pedido).success(function() {
						delete $scope.pedido;
						$scope.pedidoForm.$setPristine();
						carregarPedidos();
					});
				};
				$scope.atualizarValorPedido = function() {
					$scope.valorTotalPedido = 0;
					for (var i = 0; i < $scope.pedidos.length; i++) {
						var pedido = $scope.pedidos[i];
						$scope.valorTotalPedido += pedido.item.preco * pedido.quantidade;
					}
				};
				$scope.cancelarPedido = function(pedido) {
					var i = $scope.pedidos.indexOf(pedido);
					$scope.pedidos.splice(i, 1);
					$http.delete(endpoint + '/pedidos/' + pedido.item.id)
					.success(function() {
						carregarPedidos();
					})
					.error(function(data) {
						alert('erro ao cancelarPedido: ' + data);
					});
				};
				$scope.exibirDetalhes = function(item) {
					$scope.pedidoSelecionado = item;
				};
				$scope.validarInput = function(campo) {
					return campo.$valid || campo.$pristine;
				};
			});
			app.filter('exclamation', function() {
				return function(input, quantidade) {
					quantidade = quantidade | 1;
					for (var i = 0; i < quantidade; i++) {
						input += '!';
					};
					return input;
				};
			});
			app.directive("accordion", function() {
				return {
					templateUrl : "accordion.html",
					restrict : "E",
					transclude : true,
					scope : {
						title : "@"
					}
				};
			});
		</script>
	</head>
	<body ng-controller="pedidosCtrl">
		<div class="container">
			<h1>Lanchonete</h1>
			<div style="width: 400px;">
				<label for="filtroCardapio">Filtrar:</label>
				<input type="text" id="filtroCardapio" ng-model="filtroCardapio" class="form-control" placeholder="O que você deseja?" />
			</div>
			<br />
			<accordion title="Titulo do accordion">
				Conteúdo do accordion.
			</accordion>
			<table class="table table-striped" style="width: 300px;">
				<tr>
					<th>
						<a href="" ng-click="ordenarCardapio('descricao')">Descrição</a>
					</th>
					<th>
						<a href="" ng-click="ordenarCardapio('preco')">Valor</a>
					</th>
				</tr>
				<tr ng-repeat="item in cardapio | filter: { 'descricao' : filtroCardapio } | orderBy:campoOrdemCardapio:direcaoOrdemCardapio">
					<td>{{item.descricao}}</td>
					<td>{{item.preco | currency}}</td>
				</tr>
			</table>
			<h3>Adicionar item ao pedido:</h3>
			<form name="pedidoForm" novalidate>
				<fieldset style="width: 400px">
					<div class="form-group has-feedback" ng-class="{'has-error' : !validarInput(pedidoForm.quantidade)}">
						<label for="quantidadeInput">Quantidade</label>
						<input type="number" name="quantidade" ng-model="pedido.quantidade" id="quantidadeInput" class="form-control" min="1" ng-required="true">
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!validarInput(pedidoForm.quantidade)"></span>
					</div>
					<div class="form-group" ng-class="{'has-error' : !validarInput(pedidoForm.item) }">
						<label for="produtoInput">Produto</label>
						<select id="produtoInput" name="item" ng-model="pedido.item" ng-options="item.descricao for item in cardapio" class="form-control" ng-required="true">
							<option value="">Selecione um item</option>
						</select>
					</div>
					<button ng-click="adicionarPedido(pedido)" ng-disabled="pedidoForm.$invalid" class="btn btn-sm btn-primary">Adicionar ao pedido</button>
				</fieldset>
			</form>
			<div ng-hide="pedidos.length == 0">
				<h3 class="sub-header">Pedido</h3>
				<table class="table table-striped" style="width: 750px;">
					<tr>
						<th>Produto</th>
						<th>Quantidade</th>
						<th>Valor Un.</th>
						<th>Valor Total</th>
						<th></th>
						<th></th>
					</tr>
					<tr ng-repeat="pedido in pedidos">
						<td>{{pedido.item.descricao}}</td>
						<td>{{pedido.quantidade}}</td>
						<td ng-bind="pedido.item.preco | currency" />
						<td>{{pedido.item.preco * pedido.quantidade | currency }}</td>
						<td><a href="" ng-click="exibirDetalhes(pedido.item)">Detalhes</a></td>
						<td><a href="" ng-click="cancelarPedido(pedido)">Cancelar</a></td>
					</tr>
				</table>
				<div class="alert alert-info" style="width: 750px;" ng-show="pedidoSelecionado">
					<span class="valueLabel">Produto:</span> {{pedidoSelecionado.descricao}}
					<span class="valueLabel">Detalhes:</span> {{pedidoSelecionado.detalhes}}
				</div>
				<p>
					<span class="valueLabel">Pedidos:</span> {{pedidos.length}}
				</p>
				<p>
					<span class="valueLabel">Valor total:</span> {{valorTotalPedido | currency }}
				</p>
			</div>
		</div>
	</body>
</html>
